In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('.\datasets\healthcare-dataset-stroke-data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\SANEH\AppData\Local\Temp\ipykernel_17988\3909073119.py:1: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv('.\datasets\healthcare-dataset-stroke-data.csv')

In [3]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
df.shape

(5110, 12)

In [5]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [6]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [7]:
x = df.drop(['age','work_type','ever_married','Residence_type','smoking_status','stroke'],axis = 'columns')

In [8]:
x.head()

      id  gender  hypertension  heart_disease  avg_glucose_level   bmi
0   9046    Male             0              1             228.69  36.6
1  51676  Female             0              0             202.21   NaN
2  31112    Male             0              1             105.92  32.5
3  60182  Female             0              0             171.23  34.4
4   1665  Female             1              0             174.12  24.0

In [9]:
y = df['stroke']

In [10]:
x['gender'] = x['gender'].apply(lambda x : 0 if x=='Female' else 1)
# male = 1 . female = 0

In [11]:
x.head()

      id  gender  hypertension  heart_disease  avg_glucose_level   bmi
0   9046       1             0              1             228.69  36.6
1  51676       0             0              0             202.21   NaN
2  31112       1             0              1             105.92  32.5
3  60182       0             0              0             171.23  34.4
4   1665       0             1              0             174.12  24.0

In [12]:
# x['avg_glucose_level'] = x['avg_glucose_level']/271.740000

In [13]:
x.isnull().sum()

id                     0
gender                 0
hypertension           0
heart_disease          0
avg_glucose_level      0
bmi                  201
dtype: int64

In [14]:
x['bmi'].fillna(x['bmi'].mean(),inplace=True)

C:\Users\SANEH\AppData\Local\Temp\ipykernel_17988\2834147959.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x['bmi'].fillna(x['bmi'].mean(),inplace=True)

In [15]:
# x['bmi'] = x['bmi']/97.600000

In [16]:
x.isnull().sum()

id                   0
gender               0
hypertension         0
heart_disease        0
avg_glucose_level    0
bmi                  0
dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize,StandardScaler

In [18]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [19]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [20]:
y_train.value_counts()

stroke
0    3417
1     160
Name: count, dtype: int64

In [21]:
y_test.value_counts()

stroke
0    1444
1      89
Name: count, dtype: int64

In [22]:
x_train.shape

(3577, 6)

In [23]:
import tensorflow as tf
from tensorflow import keras

In [24]:
model = keras.Sequential([
    keras.layers.Dense(18,input_shape = (6,),activation='relu'),
    keras.layers.Dropout(0.2),
    keras.layers.Dense(6,activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')
])

c:\Users\SANEH\Desktop\innohacks\.venv\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [25]:
model.compile(optimizer='adam',
              loss = 'binary_crossentropy',
              metrics = ['accuracy'])

In [26]:
model.fit(x_train , y_train , epochs = 5)

Epoch 1/5
112/112 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.4068 - loss: 0.7599
Epoch 2/5
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9490 - loss: 0.3865
Epoch 3/5
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9540 - loss: 0.2342
Epoch 4/5
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9536 - loss: 0.1987
Epoch 5/5
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9522 - loss: 0.2010

In [27]:
model.evaluate(x_test,y_test)

48/48 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9402 - loss: 0.2215

[0.21374164521694183, 0.941943883895874]

In [28]:
from sklearn.metrics import classification_report,confusion_matrix

In [29]:
arr = model.predict(x_test)
y_pred = []
for val in arr:
    if val>0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

48/48 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [30]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.94      1.00      0.97      1444
           1       0.00      0.00      0.00        89

    accuracy                           0.94      1533
   macro avg       0.47      0.50      0.49      1533
weighted avg       0.89      0.94      0.91      1533

c:\Users\SANEH\Desktop\innohacks\.venv\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\SANEH\Desktop\innohacks\.venv\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\SANEH\Desktop\innohacks\.venv\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [31]:
import imblearn
from imblearn.combine import SMOTEENN

sm = SMOTEENN()
x_res, y_res = sm.fit_resample(x,y)

In [32]:
y_res.value_counts()

stroke
1    2690
0    2211
Name: count, dtype: int64

In [33]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [34]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [35]:
model = keras.Sequential([
    keras.layers.Dense(50,input_shape = (6,),activation='relu'),
    keras.layers.Dense(26,activation='relu'),
    keras.layers.Dense(15,activation='relu'),
    keras.layers.Dense(10,activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')
])

c:\Users\SANEH\Desktop\innohacks\.venv\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [36]:
model.compile(optimizer='adam',
              loss = 'binary_crossentropy',
              metrics = ['accuracy'])

In [37]:
model.fit(x_train , y_train , epochs =15)

Epoch 1/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8709 - loss: 0.4325
Epoch 2/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9524 - loss: 0.1823
Epoch 3/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9567 - loss: 0.1628
Epoch 4/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9555 - loss: 0.1614
Epoch 5/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9553 - loss: 0.1607
Epoch 6/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9541 - loss: 0.1673
Epoch 7/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9596 - loss: 0.1495
Epoch 8/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9468 - loss: 0.1785
Epoch 9/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9540 - loss: 0.1605
Epoch 10/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9552 - loss: 0.1629
Epoch 11/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9506 - loss: 0.1744
Epoch 12/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9599 - loss: 0.1455
Epoch 13/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9557 - loss: 0.1530
Epoch 14/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9554 - loss: 0.1525
Epoch 15/15
112/112 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9594 - loss: 0.1469

In [38]:
model.evaluate(x_test,y_test)

48/48 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9402 - loss: 0.2150

[0.20930327475070953, 0.941943883895874]